.container{
  background-color:rgb(231, 154, 154);
  margin-top:rgb(231, 154, 154)
}


.full{
  background-color: white;
  text-align: center;
  width:50%;
  margin: 0 300px;
  padding: 30px;
  margin-top:rgb(231, 154, 154);
  

  
}
.full h2{
  text-decoration: underline;

}
.full b{
   text-anchor: middle;
}

.button{

  background-color: rgb(231, 154, 154);
text-decoration: none;
padding:5px 50px;
margin-top: 15px;
border-radius: 0.3em;
font-size: medium;
font-weight: 700;
}
.text{
text-align: center;
float: left;
}